<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <meta charset="UTF-8">




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   {% load static %}

   <link rel="stylesheet" type="text/css" href="{% static 'css/changepassword.css' %}">

    <!--===============================================================================================-->
</head>
<body>

    <div class="container">
        <a href="{% url 'home' %}" class="close">x</a>
        <div class="signup__container">
            <div class="container__child signup__thumbnail">
                <div class="thumbnail__logo">
                    <img class="logo__shape" width="110" height="95" src="{% static 'img/logo1.png' %}">

                </div>
                <div class="thumbnail__content text-center">
                    <h1 class="heading--primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GADGETRY MANTRA</h1>

                    <h5 class="heading--secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are all well-to-go for change</h5>
                </div>


                <div class="signup__overlay"></div>


            </div>
            <div class="container__child signup__form">
                <form action="reset_password" method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="name@gmail.com" required />
                        
                    </div>
                  
                    <div class="m-t-lg">
                        <ul class="list-inline">
                            <li>
                                <input class="btn btn--form" type="submit" value="Send Confirmation Link" />
                            </li>
                            
                        </ul>
                    </div>
                    <div>
                        {% for message in messages %}
                        <h5> {{message | safe}} </h5>
                        {% endfor %}

                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>




